.header {
}

.nav {
}
.nav-list {
}
.nav-item {
}
.nav-link {
  font-size: 16px;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}
.contacts {
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}
