.portfolio {
}
.portfolio-title {
}

.portfolio-list {
}
.portfolio-item {
}
.portfolio-caption {
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}
