:root {
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --main-title-color: #2e2f42;
  --main-paragraf-color: #434455;
  --right-part-logo-header: #2e2f42;
  --right-part-logo-footer: #f4f4fd;
  --portfolio-btn-text: #4d5ae5;
  --portfolio-btn-background: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background-color);
}

.container {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* =====HEADER===== */

.nav-container {
  display: flex;
}

.menu {
  display: flex;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.right-part-logo {
  color: var(--right-part-logo-header);
}

.menu-link {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu {
  margin-left: 76px;
}

.menu-contacts {
  font-style: normal;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.contacts {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/*=====ADRESS=====*/

.menu .menu-item + .menu-item {
  margin-left: 40px;
}

.menu-links {
  align-items: center;
  display: flex;
}

.menu-contacts {
  margin-left: auto;
}

.menu-links .menu-item + .menu-item {
  margin-left: 40px;
}

/*=====/ADRESS===== */

/* =====/HEADER===== */

/* =====HERO===== */
.main-title {
  margin-top: 0;
  width: 496px;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section {
  margin: 120px 0;
}

.hero {
  margin-top: 0;
}

.hero > .container {
  width: 1440px;
  height: 600px;
  margin-top: 0;
  margin-bottom: 0;
  background: #2e2f42;
  text-align: center;
  padding: 188px 472px;
}

.modal-button {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
}

.modal-button:hover,
.modal-button:focus {
  background: #404bbf;
  cursor: pointer;
}
/* =====/HERO===== */
/* =====MAIN-CONTAINER===== */

.hidden-title {
  margin-top: 0;
  line-height: 1.2;
  display: none;
  color: var(--main-title-color);
}

.text-list {
  margin-left: auto;
  width: 264px;
  height: 104px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.suptitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.text-item {
  margin-top: 0;
  margin-bottom: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-paragraf-color);
}

.last-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.members-company {
  background-color: #f4f4fd;
}

.images {
  margin-bottom: 32px;
}

.img-list {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  border: 1px solid #e7e9fc;
  margin-left: auto;
}

.list-company-members {
  margin-left: auto;
  width: 264px;
  height: 380px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.list-members {
  padding: 0px 0px 32px;
}

/* =====/MAIN-CONTAINER===== */
/* =====FOOTER===== */
.right-part-logo-footer {
  color: var(--right-part-logo-footer);
}

.text-item-footer {
  margin-top: 17.5px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer > .container {
  width: 1440px;
  height: 312px;
  padding: 100px 1020px 100px 156px;
  background: #2e2f42;
}
/* =====/FOOTER===== */
/* =====PORTFOLIO===== */

.btn-nav {
  margin-left: 24px;
}

.btn-portfolio {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--portfolio-btn-text);
  background-color: var(--portfolio-btn-background);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.container-btn-portfolio {
  margin-top: 96px;
  margin-bottom: 72px;
}

.link-portfolio {
  margin-bottom: 48px;
  width: 360px;
  height: 300px;
}
.list-porfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  background-color: tomato;
}

.list-link {
  width: 300px;
}

.list-portfolio .text-item {
  margin-bottom: 48px;
}

.link-portfolio {
  border: 1px solid #e7e9fc;
}

.suptitle-portfolio {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
