.team {
  background: var(--cloud);
}

.team-title {
}

.team-list {
}

.team-item {
  background-color: var(--white);
}

.team-photo {
}

.team-name {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--slate);
}
